<% layout('layouts/boilerplate') %>
<body>
    <h3>All Listings</h3>
    <form method="get" action="/listings/new">
      <button>Create New Listing</button>
      </form>
  <ul>
  <% allListings.forEach(function(listing) { %>
    <li>
  <a href="/listings/<%= listing._id %>">
    <h4><%= listing.title %></h4>
  </a>
 
</li>

  <% }); %>
</ul>
</body>

